<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dBlog - {{title}}</title>
    <link
            rel="stylesheet"
            href="/static/simple.min.css"
    />
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/docs/">Docs</a>
    </nav>
    <h1>Blog</h1>
    <p>Decentralized</p>
</header>
<main>
{{{content}}}
</main>
<footer/>
</body>
</html>
